extends layout

block content
  h1= title
  p Soujanya Kirni
  p Welcome to #{title}
  button(type="button", class="btn btn-danger" onclick="doReduce()") Press Me for the Contents
  br
  br
  div#reduce Reduce the value
  br
  br
  a(href="game") Game
  script.
    let count = 20;
    let change = -1;
    function doReduce() {
      count += change;
      change -= 1;
      document.getElementById('reduce').textContent = `Count ${count} with change ${change}.`;
    }
    
    